# dotnet
**/bin/
**/obj/
*.user
*.suo
*.sln.docstates

# node
**/node_modules/
**/.cache/
**/build/
**/dist/
**/.env
# OS/editor
.DS_Store
Thumbs.db
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json

# local database
/backend/contacts.db
*.db
*.sqlite
*.sqlite3

# react env locals
.env.local
.env.*.local

# IDE/workspace
.vs/
.idea/

# logs & test outputs
*.log
TestResults/
coverage/
